.profile {
  margin-top: 60px;
}

.profile__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.profile__image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.profile__user-name {
  margin-left: 70px;
}

.profile__link {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;
  margin-left: 180px;
}

.item-tab__sell {
  margin-left: 160px;
}

.item-tab__buy {
  margin-left: 30px;
}