.item {
  margin-top: 45px;
}

.tabs {
  margin: 0 0 5px 150px;
}

.tab-switch {
  font-weight: bold;
  color: #5F5F5F;
  text-decoration: none;
  cursor: pointer;
}

.tab-switch.active {
  font-weight: bold;
  color: #FF0000;
}

.tab-switch:last-child {
  margin-left: 70px;
}

.sold-label {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}