.item-tab__recommend {
  margin-left: 160px;
}

.item-tab__mylist {
  margin-left: 60px;
}

.sold-label {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: red;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}