.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #000;
}

.header__logo {
  width: 80%;
  margin-left: 30px;
}

.item-search__keyword-input {
  width: 390px;
  height: 36px;
  padding-left: 30px;
  border: 1px solid #000;
  border-radius: 5px;
}

.item-search__keyword-input::placeholder {
  color: #000000;
  font-size: 15px;
}

.header-nav__menu {
  display: flex;
}

.header-nav__item {
  margin-right: 20px;
}

.header-nav__login,
.header-nav__mypage {
  color: #FFF;
  text-decoration: none;
}

.header-nav__link {
  padding: 10px 18px;
  color: #000;
  background: #FFF;
  border-radius: 3px;
  text-decoration: none;
}

.header-nav__logout {
  margin-right: 10px;
  color: #FFF;
  background: #000;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.item {
  margin-top: 50px;
}

.item-tab {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.tab-switch {
  font-weight: bold;
  color: #5F5F5F;
  text-decoration: none;
  cursor: pointer;
}

.tab-switch.active {
  font-weight: bold;
  color: #FF0000;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 100px 0 150px;
}

.item__card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  text-decoration: none;
  position: relative;
}

.item__image {
  width: 100%;
  border-radius: 3px;
}

.item__name {
  margin-top: 3px;
  color: #000;
}

.upload-form__select-file {
  display: none;
}

.upload-form__select-button {
  padding: 5px 10px;
}

.submit-button {
  height: 40px;
  color: #FFF;
  background: #FF5555;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.edit-button {
  color: #FF5555;
  background: #FFF;
  border: 1px solid #FF5555;
  border-radius: 5px;
  cursor: pointer;
}

.link-button {
  color: #0077DE;
  text-decoration: none;
}