.address-form {
  width: 40%;
  margin: 30px auto;
}

.address-form__heading {
  text-align: center;
}

.address-form__inner {
  margin-top: 70px;
}

.address-form__group {
  width: 100%;
  margin-bottom: 40px;
}

.address-form__group-content {
  display: flex;
  flex-direction: column;
}

.address-form__label {
  margin-bottom: 3px;
  font-weight: bold;
}

.address-form__input {
  height: 40px;
}

.address-form__error-message {
  margin-top: 7px;
}

.address-form__button {
  margin-top: 80px;
  text-align: center;
}

.address-form__button-submit {
  width: 100%;
}