.purchase-form {
  margin: 60px 40px 0 40px;
}

.purchase-form__inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 330px;
}

.purchase-info {
  display: flex;
}

.purchase-info__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.purchase-info__name {
  display: inline;
}

.purchase-info__price {
  display: flex;
  align-items: center;
}

.shipping-address__head {
  display: flex;
  align-items: center;
}